@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:Kusanagi;
    src:local("Kusanagi"),url("./Fonts/Kusanagi.otf") format("truetype");
}
@font-face {
    font-family: Mars;
    src:local("Mars-Bold"), url("./Fonts/Mars\ Bold.ttf") format('truetype');
}
*{
    font-family: Kusanagi;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
button {
    @apply text-white border bg-blue-700 border-stone-900
}
li{
    @apply p-4
    text-white
    hover:underline decoration-blue-300 underline-offset-4
}

